html,
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto Mono', monospace;
    font-size: 10px;
    font-weight: 200;
}

header {
    font-size: 20px;
    font-weight: 400;
}

p {
    max-width: 700px;
}

.timeline-item {
    border: 1px thin black;
}

.timeline-item > header {
    padding: 0.5em 0;
    padding: 10px;
    font-style: italic;
}

.timeline-item > p {
    padding: 10px;
}

.timeline {
    position: relative;
    padding-left: 80px;
}

.timeline .timeline-item {
    margin-bottom: 50px;
    font-size: 1.8rem;
}

.timeline::before {
    content: '';
    background: grey;
    display: inline-block;
    position: absolute;
    left: 34px;
    width: 1px;
    height: 100%;
    z-index: -1;
}

.timeline-item::before {
    content: '';
    background: white;
    border: 1px solid rgb(255, 167, 38);
    border-radius: 10px;
    display: inline-block;
    position: absolute;
    margin-top: 25px;
    left: 26px;
    width: 15px;
    height: 15px;
    z-index: -1;
}

.timeline-item:hover::before {
    background: rgb(255, 167, 38);
}
