html,
body {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #052b4a;
}

p {
    color: white;
    margin-top: 30px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 68px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #596886;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: '';
    height: 52px;
    width: 52px;
    left: 8px;
    bottom: 8px;
    background-color: white;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #596886;
}

input:checked + .slider:before {
    animation: turn-on 3s ease-in-out;
    -moz-animation: turn-on 3s ease-in-out;
    -webkit-animation: turn-on 3s ease-in-out;
    left: 60px;
}

input:not(:checked) + .slider:before {
    transition: left 0.7s ease;
    -moz-transition: left 0.7s ease;
    -webkit-transition: left 0.7s ease;
    left: 8px;
}

@keyframes turn-on {
    0% {
        left: 8px;
    }
    20% {
        left: -58px;
    }
    40% {
        left: -58px;
    }
    60% {
        bottom: 80px;
    }
    80% {
        left: 136px;
        bottom: 8px;
    }
    100% {
        left: 60px;
    }
}
